/* 
#4C2E05 Cafe Noir
#7A8450 Reseda Green
#AEBD93 Sage
#BEE7B8 Celadon
#95969D Taupe Grey 
 */

html {
  scroll-behavior: smooth;
}

.contentContainer {
  padding: 0;
  margin: 0;
  font-size: 0;
  background-color: #000000;
  font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", sans-serif;
}

.layout {
  width: 100%;

  display: grid;
  grid:
  /* can put back gaps deal with that later please */
    "overview" 45vh
    "setup" 35vh
    "settings" 125vh
    "members" 95vh
    "screenshot" 100vh
    "refrences" 110vh
    / 1fr;

  gap: 1px;
}

.head {
  display: flex;
  background-color: #4c2e05;
  padding: 15px;
}
.head a {
  color: #95969d;
  font-size: 15px;
}

.logo {
  color: #aebd93;
  font-size: 50px;
}

.navOptions {
  font-size: 25px;
  transform: translate(750px, 25px);
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

.overview {
  background-color: #7a8450;
  grid-area: overview;
  font-size: 25px;
}
.setup {
  background-color: #7a8450;
  grid-area: setup;
  font-size: 25px;
}
.settings {
  background-color: #7a8450;
  grid-area: settings;
  font-size: 25px;
}
.members {
  background-color: #7a8450;
  grid-area: members;
  font-size: 25px;
}
.screenshot {
  background-color: #7a8450;
  grid-area: screenshot;
  font-size: 25px;
}
.refrences {
  background-color: #7a8450;
  grid-area: refrences;
  font-size: 25px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

.aMatcha {
  background-color: #aebd93;
  justify-self: center;
  padding: 10px;
  margin: 15px;
  border-radius: 15px;
}

.indent {
  text-indent: 50px;
}

.refrences a:visited {
  color: #7a8450;
  text-decoration: none;
}

.refrences a:hover {
  color: #95969d;
  text-decoration: underline;
}

.refrences a:active {
  color: #bee7b8;
  text-decoration: underline;
}
