/* 
#DECAA9 milk tea
#A4B07E matcha
#0D2818 forest green
#6D4930 coffee 
 */

.contentContainer {
  padding: 0;
  margin: 0;
  font-size: 0;
  background-color: #0d2818;
}

.layout {
  width: 100%;

  display: grid;
  grid:
    "header" 10vh
    "overview" 90vh
    "setup" 100vh
    "settings" 100vh
    "members" 100vh
    "screenshot" 100vh
    "refrences" 100vh
    / 1fr;

  gap: 5px;
}

.head {
  background-color: #0d2818;
  grid-area: header;
  height: 100%;
  font-size: 50px;
  padding: 15px;
  color: #decaa9;
}

.overview {
  background-color: #a4b07e;
  grid-area: overview;
  font-size: 25px;
}
.setup {
  background-color: #decaa9;
  grid-area: setup;
  font-size: 25px;
}
.settings {
  background-color: #a4b07e;
  grid-area: settings;
  font-size: 25px;
}
.members {
  background-color: #decaa9;
  grid-area: members;
  font-size: 25px;
}
.screenshot {
  background-color: #a4b07e;
  grid-area: screenshot;
  font-size: 25px;
}
.refrences {
  background-color: #decaa9;
  grid-area: refrences;
  font-size: 25px;
}
